body{
    background-color:cornsilk;
}

#nav-bar {
    display: flex;
    background-color: rgb(157, 253, 235);
    border: 2px solid rgb(32, 161, 137);
}
  
.section {
    display: none;
}
  
.section-active {
    display: block;
}
  
.nav-item-active {
    font-weight: bold;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    margin: 1rem 2rem;
}

#nav-bar a:hover {
    color: grey;
}

#judul{
    display: flex;
    margin: 2% 0;
}

#judul h1{
    text-align: center;
    margin: auto;
}

#status{
    display: flex;
    margin: auto;
}

#status2{
    margin-right: 5%;
    width: 20%;
}

#stats{
    margin: 5px 3px;
    background-color: rgb(255, 255, 35);
    width: 100%;
    border: 2px solid rgb(7, 63, 233); 
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 8px;
}

#stats1{
    margin-left: 10px;
}
#atas1{
    margin-bottom: 15%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tengah1{
    margin-bottom: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#atas2{
    margin-bottom: 15%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tengah2{
    margin-bottom: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#atas3{
    margin-bottom: 15%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tengah3{
    margin-bottom: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#atas4{
    margin-bottom: 15%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tengah4{
    margin-bottom: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bawah input[type="button"]{
    background-color: rgb(52, 225, 52);
    color: white;
    border: 0;
    width: 150px;
    height: 35px;
    border-radius: 12px;
    border: 2px solid rgb(43, 186, 43);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bawah input[type="button"]:hover{
    cursor: pointer;
    background-color: rgb(9, 247, 159);
    color: black;
}

#bawah input[type="button"]:active{
    transform: scale(0.8);
}

#header{
    display: flex;
    margin-top: 5%;
}

#header1 {
    margin-right: 40%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#header2{
    margin-right: 130px;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#mekanik{
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}

#jual{
    margin: 10% 0;
}

#jual a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    text-align: center;
    margin-left: 40%;
}

#jual input[type="button"]{
    border: 2px solid rgb(7, 184, 243);
    border-radius: 9px;
    background-color: rgb(16, 216, 230);
    width: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#jual input[type="button"]:hover{
    cursor: pointer;
    background-color: rgb(131, 149, 255);
    color: white;
}

#jual input[type="button"]:active{
    transform: scale(0.8);
}

#biodata {
    display: flex;
    flex-wrap: wrap;
  }
  
#header3 {
    text-align: center;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
}

#data {
    flex-basis: 25%;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid rgb(137, 135, 135);
    background-color:antiquewhite;
}

#info{
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
    height: 35%;
}

#info h3 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#info a{
    overflow-wrap: break-word;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
  
li {
    margin: 10px 0;
}

#bungkus-kanan img{
    width: 20%;
    float: right;
}

#foto1 img{
    width: 100%;
    height: 370px;
}

#foto2 img{
    width: 100%;
    height: 370px;
}

#foto3 img{
    width: 100%;
}

#foto4 img{
    width: 100%;
}

#referensi h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 180%;
}

#referensi li{
    font-family:sans-serif;
}